@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-primario: #F66B0E;
$color-secundario: #2982B9;
$color-terciario: #33A3EE;
$color-text1: #EFEFEF;
$color-text2: #73777B;
$color-text3: #5757577e;
$background: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
$background2: #282b2c;

$title: 2.4rem;
$subtitle: 1.3rem;
